{% load static %}
{% load categorii_tags %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>{% block titlu %}Magazin Încălțăminte{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="dropdown">
                    <a href="{% url 'index' %}">Acasă</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'index' %}#descriere">Descriere</a></li>
                        <li><a href="{% url 'index' %}#categorii">Categorii</a></li>
                        <li><a href="{% url 'index' %}#oferte">Oferte</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="{% url 'despre' %}">Despre</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'despre' %}#poveste">Povestea Noastră</a></li>
                        <li><a href="{% url 'despre' %}#echipa">Echipa</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0)">Categorii</a>
                    <ul class="dropdown-content">
                        {% for cat in categorii_meniu %}
                            <li>
                                <a href="{% url 'categorie_detaliu' cat.nume_categorie %}">{{ cat.nume_categorie }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'produse' %}">Produse</a></li>
                <li><a href="{% url 'cos_virtual' %}">Coș</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'termeni' %}">Termeni</a></li>
                <li><a href="{% url 'info' %}">Info</a></li>
                <li><a href="{% url 'log' %}">Log</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block continut %}{% endblock %}
    </main>


</body>
</html>