{% extends 'baza.html' %}
{% load static %}
{% load categorii_tags %} {% block titlu %}Acasă - Magazin{% endblock %}

{% block continut %}
    {% get_toate_categoriile as categorii_meniu %}

    <section id="categorii">
        <h2>Categorii</h2>
        <ul>
            {% for cat in categorii_meniu %}
                <li>
                    <a href="{% url 'categorie_detaliu' cat.nume_categorie %}" style="text-decoration: none; color: #004d99; font-weight: bold;">
                        {{ cat.nume_categorie }}
                    </a>
                </li>
            {% empty %}
                <li>Nu există categorii momentan.</li>
            {% endfor %}
        </ul>
    </section>

    <section id="descriere">
        <h2>Descriere Proiect</h2>
        <p>{{ descriere_proiect }}</p>
        <img src="{% static 'imagini/incaltaminte.jpg' %}" alt="Încălțăminte">
    </section>

    <section id="oferte">
        <h2>Oferte</h2>
        <p>Reduceri la colecția nouă!</p>
    </section>
{% endblock %}