{% extends 'baza.html' %}
{% load static %}

{% block titlu %}Acasă - Magazin{% endblock %}

{% block continut %}
    <section id="descriere">
        <h2>Descriere Proiect</h2>
        <p>{{ descriere_proiect }}</p>
        <img src="{% static 'imagini/incaltaminte.jpg' %}" alt="Încălțăminte">
    </section>

    <section id="categorii">
        <h2>Categorii</h2>
        <ul><li>Sport</li><li>Elegant</li></ul>
    </section>

    <section id="oferte">
        <h2>Oferte</h2>
        <p>Reduceri la colecția nouă!</p>
    </section>
{% endblock %}